*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --light-blue: #3EE9E5;
  --dark-blue: #093F68;
  --very-dark-blue: #080C20;
  --gray: #777F98;
  --red: #FF2965;
  --white: #fff;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--very-dark-blue);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: var(--white);
  font-weight: 800;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.125rem;
}

p {
  color: var(--gray);
  font-size: .9375rem;
  font-weight: 500;
  line-height: 1.4;
}

.hero span {
  color: var(--light-blue);
}

.main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  padding-top: 3em;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: url(../img/illustration-hero-left.svg), url(../img/bg-hero-squiggle.svg), url(../img/illustration-hero-right.svg);
  background-position: left, center, right;
  background-repeat: no-repeat;
  min-height: 100%;
}

.hero .container--hero {
  width: 30%;
}

.hero h1 {
  margin-bottom: 0.5em;
}

.hero p {
  margin-bottom: 5em;
}

.hero__scroll {
  margin: 0 auto;
}

.motivation {
  margin: 5em 0;
}

.motivation__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.motivation__group {
  width: 18%;
}

.motivation__group--lower {
  margin-top: 3.5em;
}

.motivation__img {
  background-color: var(--dark-blue);
  margin-bottom: 2.5em;
  width: 150px;
  min-height: 150px;
  border-radius: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.motivation h3 {
  margin-bottom: 1.5em;
}

.pricing {
  padding: 3em 0;
}

.pricing .container--pricing {
  width: 50%;
}

.pricing__intro {
  text-align: center;
  width: 60%;
  margin: 0 auto 5em;
}

.pricing__intro h2 {
  margin-bottom: 1em;
}

.pricing__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing__box {
  background-color: var(--dark-blue);
  width: 50%;
  margin: 2em;
  padding: 2em;
  border-radius: 10px;
}

.pricing__box--hl {
  background-color: var(--light-blue);
}

.pricing__list {
  list-style-type: none;
}

.pricing__title {
  margin-bottom: 1em;
}

.pricing__title--hl {
  color: var(--very-dark-blue);
}

.pricing__desc {
  margin-bottom: 2em;
}

.pricing__desc--hl {
  color: var(--very-dark-blue);
}

.pricing__price {
  color: var(--white);
  margin-bottom: 0.3em;
  font-size: 2.5rem;
  font-weight: 800;
}

.pricing__price--hl {
  color: var(--very-dark-blue);
}

.pricing__item {
  color: var(--white);
  margin: 0 0 0.8em 1.5em;
  position: relative;
}

.pricing__item::before {
  content: url(../img/icon-check-light.svg);
  position: absolute;
  left: -22px;
}

.pricing__item--hl {
  color: var(--very-dark-blue);
}

.pricing__item--hl::before {
  content: url(../img/icon-check.svg);
}
/*# sourceMappingURL=style.css.map */